.li-selected{
  color: white;
  background: cornflowerblue;
}

.bee-image-container{
  width: 60px;
  height: 60px;
}

.bee-specie-text{
  position: relative;
  font-weight: 500;
}

.bee-cell{
  width: 120px;
  height: 120px;
}

.bee-count-text{
  position: relative;
  top: 60%;
  left: 70%;
  font-size: 20px;
  font-weight: 800;
  z-index: 1;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.bee-image{
  position: absolute;
  width: inherit;
  height: inherit;
  margin: 0;
  image-rendering: pixelated;
  mask-size: contain;
}

.bee-belly{
  mask-image: url(../../../assets/images/bee/bellyMask.png);
  mask-mode: luminance;
}

.bee-outline{
  mask-image: url(../../../assets/images/bee/outlineMask.png);
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

li {
  flex: 0 0 10%;
  /* border: 1px solid grey; */
  padding: 0.4em;
}
