.computer-active-icon{
  color: limegreen;
}

.computer-inactive-icon{
  color: red;
}

.computers-list-container{
  outline: black auto thin;
}

.mat-form-field {width: 100%;}

.modify-computer-container { width: 90%; padding-left: 5%; }
