<div>
  <div *ngIf="isLoadingData">Loading data...</div>
</div>

<div class="row">
  <div class="column right">
    <app-trasposer-inventories-display
      [transposers]="transposers"
    ></app-trasposer-inventories-display>
  </div>
  <div class="column middle">
    <app-bee-list
      (selectedBeeChanged)="onBeeSelected($event)"
      [bees]="bees"
    ></app-bee-list>
  </div>
  <div class="column left">
    <app-apiaries-selector
      (switchApiaryEvent)="OnApiarySwitched($event)"
    ></app-apiaries-selector>
    <app-computers-list></app-computers-list>
    <app-bee-data [bee]="selectedBee"></app-bee-data>
  </div>
</div>
